In [1]:
#importing my libaries
import pandas as pd
import numpy as np

In [4]:
# Question one 
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
print (A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [5]:
# Question 2 creating a matrix
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [12]:
#getting my data from the web
url ='https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

fuel_data = pd.read_csv(url, error_bad_lines=False)

fuel_data.describe(include='all')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_2008_12_25_0_2,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [13]:
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [14]:
# Question 3 Which of the following fuel type code has the lowest average fuel cost per unit burned?
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()
Number_3 = fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()
print (Number_3)
print (Number_3.min())

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64
13.659396569737135

In [15]:
fuel_data.describe(include='all')
# Question 4  standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit)
Fuel_mmbtu_Std =fuel_data['fuel_mmbtu_per_unit'].std()
percentilemmbtu = np.percentile(fuel_data['fuel_mmbtu_per_unit'], 75)
print (Fuel_mmbtu_Std, percentilemmbtu)

10.600220307806886 17.006

In [16]:
# Question 5 the skewness and kurtosis for the fuel quantity burned in two decimal places?
from scipy import stats as sp
Skewfuelburned = sp.skew(fuel_data['fuel_qty_burned'])
Kurtfuelburned = sp.kurtosis (fuel_data['fuel_qty_burned'])
print (Skewfuelburned, Kurtfuelburned)

15.850690077422112 651.2589365474387

In [17]:
# Question 6 Which feature has missing values and what is the total number of missing value 
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [18]:
print (fuel_data.shape)

(29523, 11)

In [22]:
#Question 6 percentage of the missing rows as a factor of the total number of rows in three decimal places
a = fuel_data.loc[:, 'fuel_unit'].isnull().sum()
percentage = (a/29523)*100
round (percentage, 3)

0.61

In [23]:
# Question 8 features that has the second and third lowest correlation with the Fuel Cost Per Unit Burned
fuel_data.corr()
fuel_data.corr()[4:5]

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.0,0.011007,-0.000437

In [24]:
# Question 8 just rough work to know the heirachy of the values
a=(-0.037863,0.013599,-0.018535,-0.010034,1.0,0.011007,-0.000437)
sorted (a)

[-0.037863, -0.018535, -0.010034, -0.000437, 0.011007, 0.013599, 1.0]

In [25]:
# Question 9 For the fuel type coal, the percentage change in the fuel cost per unit burned in 1998 compared to 1994
a = fuel_data.groupby(['report_year','fuel_type_code_pudl']) ['fuel_cost_per_unit_burned'].sum()
print ((a.loc[1998,'coal']-a.loc[1994,'coal'])/a.loc[1994,'coal']*100)

-20.56765451826049

In [ ]:
# Question 10 Which year has the highest average fuel cost per unit delivered?
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()
Number_10 = fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()
print (Number_10)
print (Number_10.max())